/*цвет основного текста  #212121 */
/*голубой цвет #2196F3 */
/* цвет мелкого текста #757575*/
/* фон темній #2F303A */
/*цвет белого текста #FFFFFF */

/* Common styles */

:root {
  --body-bgr-color: #ffffff;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --text-color: #757575;
  --hero-text-color: #ffffff;
  --background-color: #2f303a;
  --second-part-logo: #000000;
  --portfolio-button-bgr: #f5f4fa;
  --hover-focus-btn: #188ce8;
  --team-bgr-color: #f5f4fa;
  --social-icons-fill: #afb1b8;
  --backdrop: rgba(0, 0, 0, 0.2);
}

/* Utilits */

body {
  background-color: var(--body-bgr-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title-centered {
  text-align: center;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-part {
  color: var(--second-part-logo);
}

.list {
  list-style: none;
  display: block;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.link-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

/* Site nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin: 0;

  margin-left: 93px;
  padding: 0;
  display: flex;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link.current {
  position: relative;
  color: var(--accent-color);
}

.link-nav.current::after {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-item {
  margin-left: auto;
}

.contacts-nav {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
}

.contacts-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bgr.jpg);
  background-color: var(--background-color);
  background-position: center;
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 696px;
  margin: 0 auto 30px auto;
  padding: 0;
}

.button {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-style: none;
  text-align: center;
  min-width: 216px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--hover-focus-btn);
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-work {
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.features-item {
  width: 270px;
}

.features-text {
  color: var(--text-color);
  margin: 0;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.features .features-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-title,
.team-title {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Work */

.work-list-item {
  position: relative;
}

.image-text {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.work-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Team */

.team {
  background-color: var(--team-bgr-color);
  margin-bottom: 0;
}

.team-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.team-container {
  padding: 30px 32px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
}

.description-bgr {
  background-color: var(--body-bgr-color);
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.job-title {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 28px;
}

/* footer */

.address-container {
  width: 231px;
}

.position-footer {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.social-footer {
  width: 206px;
}

.logo-ftr {
  margin-bottom: 20px;
}

.logo-part-ftr {
  color: var(--hero-text-color);
  font-family: "Raleway", sans-serif;
}

.address {
  font-style: normal;
}

.address-list {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-section {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-map {
  color: var(--hero-text-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.address-link {
  height: 21px;
}

.contacts {
  color: var(--text-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Backdrop+modal */

.backdrop {
  position: fixed;
  background-color: var(--backdrop);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  transform: scale(1);
  opacity: 1;
  transform-origin: bottom;
  transition-property: visibility, transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition-property: visibility, transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--body-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--body-bgr-color);
  cursor: pointer;
}

/* styles for portfolio */
/* Button */

.buttons-title {
  color: var(--hero-text-color);
}

.button-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0;
}

.button-primary {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--portfolio-button-bgr);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  min-width: 73px;
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  height: 38px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-button {
  padding-left: 25px;
  padding-right: 25px;
}

.button-list .button-primary:hover,
.button-list .button-primary:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Works */

.work-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.works-element {
  width: 370px;
  box-sizing: border-box;
  background: var(--body-bgr-color);
}

.works-element:nth-child(n + 7) {
  margin-bottom: 0;
}

.works-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.works-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  width: 322px;
  margin: 0;
  margin-bottom: 4px;
}

.work-item {
  color: var(--text-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  width: 322px;
  margin: 0;
}

.work-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb-portfolio {
  overflow: hidden;
  position: relative;
}

.work-text {
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
}

.thumb-work-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover .thumb-work-text,
.work-link:focus .thumb-work-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.work-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* Icons header */

.icon-envelope {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

/* Icons Feature */

.icon-feature {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--team-bgr-color);
  border-radius: 4px;
}

/* Icons Team */

.list-socials {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--social-icons-fill);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  fill: var(--body-bgr-color);
  background-color: var(--accent-color);
}

/* Icons Clients */

.clients-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icons-fill);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--social-icons-fill);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Icons Footer */

.ftr-icons-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin: 0;
  margin-bottom: 20px;
}

.icons-ftr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--body-bgr-color);
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
  background: var(--accent-color);
}
